.contentTable {
    width: 100%;
    height: 100%;
    position: relative;

    .headings {
        position: sticky;
        top: 50%;
        text-align: right;
        font-size: 14pt;
        font-weight: 200;
        height: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.6;

        .headingContainer {
            padding: 32px 16px 32px 0px;
            border-right: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;
        }

        .heading {
            $icon-width: 16px;
            $icon-gap: 1rem;

            padding-left: calc($icon-width + $icon-gap);
            border-bottom: 1px solid transparent;

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                gap: $icon-gap;
            }

            &.active {
                font-weight: 900;
                color: var(--blog-color-primary);
            }

            &:hover, &.active {
                padding-left: 0px;
                .icon {
                    opacity: 1;
                    //transition: opacity 0.2s ease-in-out;
                }
            }

            .icon {
                width: $icon-width;
                opacity: 0;
                //transition: opacity 0.2s ease-in-out 0.1s;
            }
        }
    }
}