.viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);

    .cover {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        top: 0;
        transition: top 2s ease;
        background-color: white;

        &.removed {
            top: 100vh;
        }

        .hexagons {
            width: 100%;
            position: absolute;
        }
    }

    .logo {
        font-size: 4rem;
    }
}