@import "@src/mixins";

.viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    //justify-content: center;

    .cover {
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        top: 0;
        transition: top 2s ease;
        background-color: white;
        z-index: 100000;

        &.removed {
            top: 100vh;
        }

        .hexagons {
            width: 100%;
            position: absolute;
        }
    }

    .logo {
        font-size: 4rem;
    }

    .sectionTable {

    }
}

@include when-tablet {
    .viewport {
        .sectionTable {
            $border: 1px solid white;
            height: 100%;
            max-height: 40rem;
            width: 100%;
            max-width: 90rem;

            display: grid;
            grid-template: "ab ab ab my my my" 1fr
                           "bl bl to to sn sn" 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;

            .aboutMe {
                grid-area: ab;
                border-bottom: $border;
                border-right: $border;
                position: relative;
            }
            .myProject {
                grid-area: my;
                border-bottom: $border;
            }
            .blog {
                grid-area: bl;
                border-right: $border;
            }
            .tools {
                grid-area: to;
                border-right: $border;
            }
            .snippets {
                grid-area: sn;
            }
        }
    }
}