@import "@src/mixins";

$hover-glitch: glitchHover 1.6s infinite;

@property --neon-pink {
    syntax: '<color>';
    inherits: false;
    initial-value: var(--color-primary);
}
@property --neon-blue {
    syntax: '<color>';
    inherits: false;
    initial-value: var(--color-secondary);
}
@property --neon-yellow {
    syntax: '<color>';
    inherits: false;
    initial-value: var(--color-tertiary);
}
@property --neon-rainbow {
    syntax: '<color>';
    inherits: false;
    initial-value: var(--color-primary);
}

.hexGrid {
    position: fixed;
    top: 0;
    left: 0;
    //background-color: #133955;
    width: 100vw;
    height: 100vh;
}

.page {
    --neon-pink: var(--color-primary);
    --neon-blue: var(--color-secondary);
    --neon-yellow: var(--color-tertiary);
    --neon-rainbow: var(--color-primary);

    --current-neon: var(--neon-yellow);

    animation: pinkNeonFlicker 60s infinite step-end,
        blueNeonFlicker 60s infinite step-end,
        yellowNeonFlicker 60s infinite step-end,
        rainbowNeon 20s infinite step-end;

    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
        cursor: pointer;
        border: 0;
        background-color: transparent;
        color: var(--current-neon);
        font-weight: 600;
        min-width: 0;

        > div {
            &.bordered {
                border: 1px solid var(--current-neon);
                padding: 0.3em 1.2em;
            }
        }

        &:hover > * {
            animation: $hover-glitch;
        }
    }

    > .navbar {
        height: 96px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        user-select: none;
        padding: 0 5rem;

        > .logo {
            flex: 1;
            display: none;

            flex-shrink: 0;
            height: 48px;
            fill: none;
            stroke: var(--current-neon);
            stroke-width: 0.22rem;

            &.appear {
                animation: 0.4s is-off 0.6s linear forwards;
                display: block;
            }
        }

        > .sections {
            flex: 4;
            display: none;

            height: 48px;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            color: var(--current-neon);

            &.appear {
                display: flex;
            }

            a:hover {
                color: #fff5f6;
                text-shadow: 0 0 2px #000,
                    0 0 10px var(--current-neon),
                    0 0 5px var(--current-neon),
                    0 0 25px var(--current-neon);
                backface-visibility: hidden;
            }
        }

        .styleRibbon {
            display: none;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            &.appear {
                display: flex;
            }

            .leds {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                padding: 0 1rem 0 0;

                > div {
                    cursor: pointer;
                    width: 1.5rem;
                    height: 1.5rem;
                    filter: blur(2px);

                    &:not(.rainbow) {
                        animation-duration: 8s;
                        animation-iteration-count: infinite;
                    }

                    &.pink {
                        animation-name: pinkBlockGlow;
                        background-color: var(--neon-pink); 
                    }

                    &.blue {
                        animation-name: blueBlockGlow;
                        background-color: var(--neon-blue);
                    }

                    &.yellow {
                        animation-name: yellowBlockGlow;
                        background-color: var(--neon-yellow);
                    }

                    &.rainbow {
                        //animation-name: rainbowBlockGlow;
                        //background-color: var(--neon-rainbow);
                        background-color: hsl(0, 80%, 42%);
                        //animation-name: rainbowHue;
                        animation: rainbowBlockGlow 8s infinite,
                            rainbowHue 2s infinite;
                    }
                }
            }

            .mute {
                cursor: pointer;
                color: var(--current-neon);
                font-size: 2rem;
                font-weight: 200;
                display: flex;
                align-items: center;
            }
        }
        
        > .icons {
            flex: 1;
            display: none;

            flex-shrink: 0;
            height: 100%;
            gap: 1rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            justify-content: end;
            animation: text-glitch /*15s*/ 2s infinite step-end;

            &.appear {
                display: flex;
            }

            a {
                &:hover {
                    animation: $hover-glitch;
                }
            }
    
            .fa {
                font-size: 2rem;
                color: var(--current-neon);
                position: relative;
    
                &:hover {

                    color: var(--color-secondary);
                }
            }
    
            .img {
                max-height: 2rem;
                max-width: 2rem;
            }
        }
    }

    > .landing {
        flex: 1;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        > .azaria {
            width: 90vw;
            fill: none;
            stroke: var(--current-neon);
            overflow: visible;

            &.remove {
                animation: logoGlitchOut 0.6s linear forwards;
            }
        
            > path {
                animation: drawBorder 2.4s forwards;
                stroke-dasharray: 1000;
                stroke-dashoffset: 1000;
            
                @for $i from 1 through 6 {
                    &:nth-child(#{$i}) {
                        animation-delay: 0.6s + (0.4s * $i);
                    }
                }
            }
        }

        > .pressKey {
            animation: pressKeyCycle 2s linear 4.7s infinite;
            visibility: hidden;
            opacity: 0;

            background-color: var(--current-neon);
            padding: 0.3rem 3rem;
            font-size: 16pt;

            &.appear {
                visibility: visible;
            }
        }
    }
    
    > .content {
        flex: 1;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: center;
        overflow: hidden;
        z-index: 1;

        > .projectList {
            background-color: var(--color-background);
            position: relative;
            width: 500px;
            height: 100%;
            z-index: 1;
            display: flex;
            align-items: center;

            > .separatorContainer {
                position: absolute;
                right: -156px;
                top: 0;
                user-select: none;
                pointer-events: none;
                height: 100%;
                aspect-ratio: 315 / 906;
                //animation: logoGlitchOut 0.6s linear 5.25s infinite; // TODO: BLUE

                > * {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .shadow {
                }

                .separator {
                    height: calc(100% + 40px);
                    fill: var(--color-background);
                    stroke: var(--current-neon);
                    padding: 1px;
                    overflow: visible;

                    .shadowed {
                        filter: drop-shadow(15px 15px 8px #000000c0)
                    }
                }
            }

            > .list {
                width: calc(100% - 165px);
                max-height: calc(100% - 35px);
                margin: 60px 0 60px 2rem;
                padding: 1rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                overflow: hidden;
                direction: rtl;

                .scrollbar {
                    background-color: transparent;
                    border-top: 1px solid var(--current-neon);
                    border-bottom: 1px solid var(--current-neon);
                    padding: 0.5em 0.73em;
                    transition: padding 0.33s;

                    &:hover {
                        padding: 0.5em 0;
                    }

                    .thumb {
                        background-color: var(--current-neon);
                        border-radius: 0;
                    }
                }

                .item {
                    flex-shrink: 0;
                    cursor: pointer;

                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    user-select: none;
                    direction: ltr;

                    &:hover {
                        > .icon {
                            display: none;
                        }
                        > .description {
                            display: flex;
                        }
                    }

                    > .icon {
                        position: relative;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            fill: none;
                            stroke: var(--current-neon);
                            stroke-width: 0.18rem;
                            max-height: 90%;
                            max-width: 90%;

                            path {
                                animation: drawBorder 8s forwards;
                                stroke-dasharray: 1000;
                                stroke-dashoffset: 1000;
                            }
                        }

                        img {
                            max-height: 90%;
                            max-width: 90%;
                        }

                        .mask {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--current-neon);
                            mix-blend-mode: multiply;
                        }

                        .img2 {
                            background-color: var(--current-neon);
                            mask-repeat: no-repeat;
                            mask-size: contain;
                            mask-position: center;
                            height: 90%;
                            width: 90%;
                        }
                    }

                    > .description {
                        width: 100%;
                        height: 100%;
                        display: none;
                        flex-direction: column;
                        justify-content: center;
                        padding: 1rem;
                        border: 1px solid var(--current-neon);
                        gap: 0.5rem;
                        
                        > .name {
                            flex-shrink: 0;
                            font-weight: 600;
                            color: var(--current-neon);
                        }
    
                        > .description {
                            flex: 1;
                            color: var(--color-light);
                            opacity: 0.7;
                            overflow: hidden;
                        }
    
                        > .techs {
                            flex-shrink: 0;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 0.25rem;
    
                            > div {
                                background-color: var(--current-neon);
                                font-weight: 600;
                                padding: 0 2.5em 0 0.5em;
                                color: var(--color-background);
                            }
                        }
                    }
                }
            }
        }

        > .showcase {
            flex: 1;
            background-color: var(--color-white);
            height: calc(100% - 35px);
        }
    }
}

.--neon {
    color: #fff5f6;
    text-shadow: 0 0 2px #000,
        0 0 10px #fc1f2c72,
        0 0 5px #fc1f2c72,
        0 0 25px #fc1f2c72;
    backface-visibility: hidden;
    //font-family: 'Consolas';
}

@include when-tablet {
    .page {
        > .landing {
            > .azaria {
                width: 60vw;
            }
        }
    }
}

@mixin neon-block-glow($name, $col) {
    @keyframes #{$name} {
        0%   { box-shadow: 0 1px 10px 5px #{$col}; }
        3%   { box-shadow: 0 1px 15px 6px #{$col}; }
        6%   { box-shadow: 0 1px 20px 5px #{$col}; }
        9%   { box-shadow: 0 1px 25px 6px #{$col}; }
        11%  { box-shadow: 0 1px 15px 5px #{$col}; }

        20%  { box-shadow: 0 1px  8px 4px #{$col}; }
        23%  { box-shadow: 0 1px 14px 6px #{$col}; }
        26%  { box-shadow: 0 1px 18px 7px #{$col}; }
        29%  { box-shadow: 0 1px 22px 6px #{$col}; }
        31%  { box-shadow: 0 1px 14px 5px #{$col}; }

        40%  { box-shadow: 0 1px 12px 4px #{$col}; }
        43%  { box-shadow: 0 1px 18px 5px #{$col}; }
        46%  { box-shadow: 0 1px 23px 6px #{$col}; }
        49%  { box-shadow: 0 1px 28px 7px #{$col}; }
        51%  { box-shadow: 0 1px 18px 5px #{$col}; }

        60%  { box-shadow: 0 1px 11px 6px #{$col}; }
        63%  { box-shadow: 0 1px 16px 5px #{$col}; }
        66%  { box-shadow: 0 1px 19px 7px #{$col}; }
        69%  { box-shadow: 0 1px 23px 6px #{$col}; }
        71%  { box-shadow: 0 1px 16px 4px #{$col}; }

        80%  { box-shadow: 0 1px  9px 5px #{$col}; }
        83%  { box-shadow: 0 1px 14px 6px #{$col}; }
        86%  { box-shadow: 0 1px 19px 5px #{$col}; }
        89%  { box-shadow: 0 1px 24px 7px #{$col}; }
        100% { box-shadow: 0 1px 14px 5px #{$col}; }
    }
}

@include neon-block-glow(pinkBlockGlow, var(--neon-pink));
@include neon-block-glow(blueBlockGlow, var(--neon-blue));
@include neon-block-glow(yellowBlockGlow, var(--neon-yellow));
@include neon-block-glow(rainbowBlockGlow, hsl(0, 80%, 42%));

@mixin neon-flicker($name, $var, $regularCol, $wrongCol, $secondaryCol) {
    @keyframes #{$name} {
        0% {
            #{$var}: #{$regularCol};
        }
        8% {
            #{$var}: #{$wrongCol};
        }
        11% {
            #{$var}: #{$regularCol};
        }
        11.7% {
            #{$var}: #{$wrongCol};
        }
        12% {
            #{$var}: #{$regularCol};
        }
        28% {
            #{$var}: #{$wrongCol};
        }
        28.1% {
            #{$var}: #{$regularCol};
        }
        28.4% {
            #{$var}: #{$secondaryCol};
        }
        28.5% {
            #{$var}: #{$regularCol};
        }
        40% {
            #{$var}: #{$wrongCol};
        }
        45% {
            #{$var}: #{$regularCol};
        }
        45.3% {
            #{$var}: #{$wrongCol};
        }
        49% {
            #{$var}: #{$regularCol};
        }
        52% {
            #{$var}: #{$secondaryCol};
        }
        52.4% {
            #{$var}: #{$regularCol};
        }
        71% {
            #{$var}: #{$secondaryCol};
        }
        71.1% {
            #{$var}: #{$regularCol};
        }
        71.7% {
            #{$var}: #{$secondaryCol};
        }
        71.95% {
            #{$var}: #{$wrongCol};
        }
        72.05% {
            #{$var}: #{$regularCol};
        }
        72.15% {
            #{$var}: #{$wrongCol};
        }
        72.30% {
            #{$var}: #{$regularCol};
        }
        72.50% {
            #{$var}: #{$wrongCol};
        }
        80% {
            #{$var}: #{$regularCol};
        }
        81% {
            #{$var}: #{$wrongCol};
        }
        90% {
            #{$var}: #{$regularCol};
        }
        94% {
            #{$var}: #{$wrongCol};
        }
        96% {
            #{$var}: #{$secondaryCol};
        }
        96.12% {
            #{$var}: #{$regularCol};
        }
    }
}

@include neon-flicker(
    pinkNeonFlicker, --neon-pink, var(--color-primary), #a02f78, var(--color-secondary)
);
@include neon-flicker(
    blueNeonFlicker, --neon-blue, var(--color-secondary), #2eb6ce, var(--color-tertiary)
);
@include neon-flicker(
    yellowNeonFlicker, --neon-yellow, var(--color-tertiary), #bbbd3c, var(--color-primary)
);

@keyframes rainbowNeon {
    @for $i from 0 through 359 {
        #{$i * 100% / 359} {
            --neon-rainbow: hsl(#{$i}, 80%, 42%);
        }
    }
}

@keyframes rainbowHue {
    0%   { filter: blur(2px) hue-rotate(0deg); }
    100% { filter: blur(2px) hue-rotate(360deg); }
}

@keyframes drawBorder {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes remove-intro-logo {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(8);
    }
}

@keyframes logoGlitchOut {
    0% {
        opacity: 1;
        transform: translate(2vw, 3vh);
    }
    11% {
        transform: translate(2vw, 3vh);
    }
    12% {
        opacity: 0;
        transform: translate(-3vw, 2vh);
    }
    14% {
        opacity: 0;
        transform: translate(2vw, -2vh);
    }
    16% {
        opacity: 1;
        fill: var(--current-neon);
        stroke: none;
    }
    42% {
        transform: scaleY(1) skewX(0deg) translate(2vw, -2vh);
    }
    44% {
        transform: scaleY(3) skewX(-60deg) translate(-4vw, -4vh);
    }
    46% {
        transform: scaleY(1) skewX(0deg);
    }
    60% {
        opacity: 1;
    }
    62% {
        opacity: 0;
        transform: translate(0 0);
    }
    68% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    83% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        fill: none;
        stroke: var(--color-secondary);
    }
    84% {
        transform: scaleX(1.5) scaleY(.2) skewX(80deg);
    }
    86% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        fill: var(--current-neon);
        stroke: none;
    }
    94% {
        fill: none;
        stroke: var(--current-neon);
    }
}

@keyframes pressKeyCycle {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    30%, 70% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes glitchEffect1 {
    @for $i from 0 through 20 {
        #{($i * (1 / 20) * 100%)} {
            clip-path: inset(#{random(100)}px 9999px #{random(100)}px 0);
        }
    }
}

@keyframes logoGlitchOut {
    0% {
        opacity: 1;
        transform: translate(2vw, 3vh);
    }
    11% {
        transform: translate(2vw, 3vh);
    }
    12% {
        opacity: 0;
        transform: translate(-3vw, 2vh);
    }
    14% {
        opacity: 0;
        transform: translate(2vw, -2vh);
    }
    16% {
        opacity: 1;
        fill: var(--current-neon);
        stroke: none;
    }
    42% {
        transform: scaleY(1) skewX(0deg) translate(2vw, -2vh);
    }
    44% {
        transform: scaleY(3) skewX(-60deg) translate(-4vw, -4vh);
    }
    46% {
        transform: scaleY(1) skewX(0deg);
    }
    60% {
        opacity: 1;
    }
    62% {
        opacity: 0;
        transform: translate(0 0);
    }
    68% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    83% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        fill: none;
        stroke: var(--color-secondary);
    }
    84% {
        transform: scaleX(1.5) scaleY(.2) skewX(80deg);
    }
    86% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        fill: var(--current-neon);
        stroke: none;
    }
    94% {
        fill: none;
        stroke: var(--current-neon);
    }
}

@keyframes glitchHover {
    0%, 2.99% {
        opacity: 1;
        background-color: none;
        color: var(--current-neon);
        transform: translate(4px, 0);
    }
    @for $i from 0 through 60 {
        #{3% + ($i * 0.16%)} {
            transform: translate(#{13px * -($i % 2)}, 0);
        }
    }
    //3%, 5.99% {
    //    transform: translate(-3px, 0);
    //}
    //6%, 8.99% {
    //    transform: translate(-1px, 0);
    //}
    //9%, 11.99% {
    //    transform: translate(4px, 0);
    //}
    12%, 14.99% {
        transform: translate(2px, 0);
    }
    15%, 17.99% {
        opacity: 1;
        transform: translate(1px, 0);
    }
    18% {
        opacity: 0;
    }
    20% {
        opacity: 0;
        transform: translate(2px, -2px) skew(-30deg);
    }
    23% {
        opacity: 1;
    }
    28%, 30.99% {
        transform: translate(11px, 0) skew(0deg);
    }
    31%, 34.99% {
        transform: translate(11px, 0) skew(30deg);
    }
    34.99% {
        transform: skew(30deg);
        background-color: transparent;
        color: var(--current-neon);
    }
    35%, 38.99% {
        transform: skew(0deg);
        background-color: var(--current-neon);
        color: var(--color-background);
    }
    39% {
        background-color: transparent;
        color: var(--current-neon);
    }
    42% {
        transform: scaleY(1) skewX(0deg) translate(-6px, 0);
    }
    44% {
        transform: scaleY(1.2) skewX(-60deg) translate(-6px, 0);
    }
    46% {
        transform: scaleY(1) skewX(0deg);
    }
    60% {
        opacity: 1;
    }
    62% {
        opacity: 0;
        transform: translate(0 0);
    }
    68% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    83% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        background-color: transparent;
        color: var(--current-neon);
    }
    84% {
        transform: scaleX(1.1) scaleY(.2) skewX(80deg);
    }
    85% {
        background-color: transparent;
        color: var(--current-neon);
    }
    86% {
        transform: scaleX(1) scaleY(1) skewX(0deg);
        background-color: var(--current-neon);
        color: var(--color-background);
    }
    94% {
        background-color: transparent;
        color: var(--current-neon);
    }
}

// TODO: REMOVE?
@keyframes text-glitch {
    1% {
        clip: rect(438px, 9999px, 459px, 0);
        left: -4%;
    }

    1.5% {
        clip: rect(279px, 9999px, 294px, 0);
        left: -4%;
    }

    2% {
        clip: rect(448px, 9999px, 449px, 0);
        left: -4%;
    }

    2.5% {
        clip: rect(301px, 9999px, 345px, 0);
        left: -2%;
    }

    3% {
        clip: rect(466px, 9999px, 526px, 0);
        left: -1%;
    }

    3.5% {
        clip: rect(263px, 9999px, 296px, 0);
        left: -4%;
    }

    4% {
        clip: rect(174px, 9999px, 268px, 0);
        left: 4%;
    }

    4.5% {
        clip: rect(100px, 9999px, 167px, 0);
        left: 2%;
    }

    5% {
        clip: rect(308px, 9999px, 311px, 0);
        left: 5%;
    }

    5.5% {
        clip: rect(131px, 9999px, 147px, 0);
        left: -1%;
    }

    6% {
        clip: rect(54px, 9999px, 92px, 0);
        left: -1%;
    }

    6.5% {
        clip: rect(341px, 9999px, 421px, 0);
        left: 3%;
    }

    7% {
        clip: rect(354px, 9999px, 394px, 0);
        left: 5%;
        filter: grayscale(1);
    }

    7.5% {
        clip: rect(260px, 9999px, 360px, 0);
        left: -1%;
    }

    8% {
        clip: rect(9px, 9999px, 29px, 0);
        left: 1%;
    }

    8.5% {
        clip: rect(264px, 9999px, 322px, 0);
        left: 0%;
    }

    9% {
        clip: rect(51px, 9999px, 142px, 0);
        left: -1%;
        filter: none;
    }

    9.5% {
        clip: rect(105px, 9999px, 151px, 0);
        left: -4%;
    }

    10% {
        clip: rect(204px, 9999px, 237px, 0);
        left: -4%;
    }

    10.5% {
        clip: rect(298px, 9999px, 317px, 0);
        left: 5%;
    }

    11% {
        clip: none;
        left: 0;
    }

    45% {
        clip: rect(438px, 9999px, 459px, 0);
        left: -14%;
    }

    45.5% {
        clip: rect(279px, 9999px, 294px, 0);
        left: -14%;
    }

    46% {
        clip: rect(448px, 9999px, 449px, 0);
        left: -14%;
    }

    46.5% {
        clip: rect(301px, 9999px, 345px, 0);
        left: -12%;
    }

    47% {
        clip: rect(466px, 9999px, 526px, 0);
        left: -1%;
    }

    47.5% {
        clip: rect(263px, 9999px, 296px, 0);
        left: -14%;
        opacity: 0.8;
    }

    48% {
        clip: rect(174px, 9999px, 268px, 0);
        left: 14%;
    }

    48.5% {
        clip: rect(100px, 9999px, 167px, 0);
        left: 12%;
    }

    49% {
        clip: rect(308px, 9999px, 311px, 0);
        left: 15%;
    }

    49.5% {
        clip: rect(131px, 9999px, 147px, 0);
        left: -11%;
    }

    50% {
        clip: rect(54px, 9999px, 92px, 0);
        left: -11%;
    }

    50.5% {
        clip: rect(341px, 9999px, 421px, 0);
        left: 13%;
    }

    51% {
        clip: rect(354px, 9999px, 394px, 0);
        left: 15%;
    }

    51.5% {
        clip: rect(260px, 9999px, 360px, 0);
        left: -11%;
    }

    52% {
        clip: rect(9px, 9999px, 29px, 0);
        left: 11%;
    }

    52.5% {
        clip: rect(264px, 9999px, 322px, 0);
        left: 10%;
    }

    53% {
        clip: rect(51px, 9999px, 142px, 0);
        left: -11%;
    }

    54.5% {
        clip: rect(105px, 9999px, 151px, 0);
        left: -14%;
    }

    55% {
        clip: rect(204px, 9999px, 237px, 0);
        left: -14%;
    }

    55.5% {
        clip: rect(298px, 9999px, 317px, 0);
        left: 15%;
    }
}
