@import "@src/mixins";

.viewport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: -100;

  > .v2 {
    @include crt(0.075, var(--flicker-speed, 0.15s));
    transform: perspective(2500px)
      scale(1.05)
      rotateX(2deg)
      rotateY(2deg);
  
    width: 100%;
    height: 100%;
    display: flex;

    padding: 22px 46px 24px 220px;

    > .content {
      flex: 1;

      overflow-x: hidden;
      overflow-y: auto;

      padding: 32px 24px 64px 24px;
    }
  }
}
