.footer {
    grid-area: foo;

    min-height: 1000px; // TODO: Remove
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    pointer-events: none;

    .footerContent {
        background-color: var(--color-primary);
        flex: 1;
        pointer-events: auto;
    }
}