@import "@src/mixins.scss";

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000000;

    min-height: 100px; // TODO: Remove
    width: 100%;
    background: var(--color-primary);
    pointer-events: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .headerContent {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 3vh;
        gap: 48px;
        
        user-select: none;

        width: 100%;
        background: var(--color-primary);
        pointer-events: auto;

        .logo {
            font-size: 32pt;
            //font-family: var(--font-title);
            //background-color: red;
        }

        .sections {
            display: none;
        }
    }
}

@include when-tablet {
    .header {
        .headerContent {
            .sections {
                display: flex;
                flex-direction: row;
                gap: 16px;
                color: white;
                font-weight: 500;
                flex-shrink: 0;
                //background-color: blue;
            }
        }
    }
}