.blogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth !important;

    ::selection {
        //background-color: #feaaee;
        background-color: var(--color-selection);
    }

    .pageBody {
        //min-height: 45vw;

        h1 {
            
        }
    }
}