@import "@src/mixins.scss";

.mantine-Pagination-root {
    .mantine-Group-root {
        gap: 4px;
    }

    .mantine-Pagination-control {
        $cut-perc: 24%;
        border-radius: 0;

        &:first-child {
            @include cut-side-left($cut-perc);

            &::before,
            &::after {
                @include cut-side-left($cut-perc);
            }
        }

        &:last-child {
            @include cut-side-right($cut-perc);

            &::before,
            &::after {
                @include cut-side-right($cut-perc);
            }
        }

        &:first-child,
        &:last-child {
            border: 0;
            position: relative;

            &::before {
                z-index: -20;
                background-color: var(--mantine-color-gray-4);
                width: 100%;
                height: 100%;
                display: block;
                content: ""; // "\00a0"
                position: absolute;
            }

            &::after {
                z-index: -10;
                background-color: white;
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                display: block;
                content: "";
                position: absolute;
            }

            &:hover::after {
                background-color: var(--mantine-color-gray-0);
            }
        }
    }
}