:root {
    --color-primary-l3: #d0f3ff;
    --color-primary-l2: #91e3ff;
    --color-primary-l1: #5fd7ff;
    --color-primary: #30c0ef;
    --color-primary-d1: #159ad2;
    --color-primary-d2: #0661b6;
    --color-selection: #fdab31;
    --color-selection-code: #006eff60;
    --color-code-block-bg: #eff1f5;

    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

@import "mantine.scss";