.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > video {
    min-width: 100px;
    max-width: 900px;

    border: 1px solid var(--current-neon);
  }

  > .footnote {
    text-align: end;

    font-style: italic;
  }
}
