.contentTable {
    width: 100%;
    height: 100%;
    position: relative;

    .headings {
        position: sticky;
        top: 50%;
        text-align: right;
        font-size: 16pt;
        font-weight: 200;
        height: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.6;

        .headingContainer {
            padding: 32px 16px 32px 0px;
            border-right: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .heading {
            padding-left: 36px;
            border-bottom: 1px solid transparent;

            > div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: end;
                gap: 1rem;
            }

            &.active {
                font-weight: 900;
                color: #0661b6;
            }

            &:hover, &.active {
                .icon {
                    display: block;
                }
            }

            .icon {
                width: 16px;
                display: none;
            }
        }
    }
}