.blogPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    ::selection {
        //background-color: #feaaee;
        background-color: var(--color-selection);
    }
}