.blogPage {
    //display: grid;
    //grid-template: "hea hea" auto
    //               "cta con" 1fr
    //               "foo foo" auto / 1fr 2fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    //background-color: #ddd;

    ::selection {
        //background-color: #feaaee;
        background-color: #fdab31;
    }

    .header {
        grid-area: hea;
        min-height: 100px; // TODO: Remove
        width: 100%;
        position: relative;
        margin-bottom: 236px;

        h1 {
            background: #30c0ef;
            height: 100px;
        }

        .headerEnd {
            //filter: sepia() saturate(300%) hue-rotate(148deg);
            position: absolute;
            top: 100%;
            z-index: -10;
            user-select: none;
            width: 100%;
            aspect-ratio: 3840 / 1144;
        }
    }

    .entry {
        display: grid;
        grid-template: "hea hea" auto
                       "cta con" 1fr / 2fr 7fr;
        max-width: 1200px;
        //background-color: white;
        padding: 16px 32px;
        gap: 16px;
        margin-bottom: calc(calc(1920px - 100vw) / 3);
    }

    .entryTitle {
        grid-area: hea;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 42pt;
        font-weight: 500;
        color: #0661b6;
        min-height: 200px;
    }

    .contentTable {
        grid-area: cta;
        padding: 1rem 1rem 1rem 0;
        min-width: 250px;
    }

    .content {
        grid-area: con;
        font-size: 12pt;
        overflow-x: hidden;
        min-width: 400px;

        > p, > div {
            margin: 24px 48px;
        }

        code {
            font-family: 'Cascadia Mono', 'Consolas', 'Courier New', Courier, monospace;
            font-size: 10pt;

            span::selection {
                background-color: #006eff60;
                //background-color: #006eff80;
            }
        }

        h1 {
            background-color: #30c0ef; //#1dd186;
            color: white;
            font-size: 18pt;
            padding: 6px 0 6px 48px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            transition: padding-left 0.3s;
            position: relative;
            margin: 16px 0;
            text-shadow: 1px 1px 3px black;

            &:hover {
                text-decoration: underline;
                padding-left: calc(48px + 2rem);

                &::before {
                    content: "#";
                    position: absolute;
                    left: 0;
                    transform: translateX(48px);
                    //transform: translateX(-1.75rem) translateY(1px) scale(1);
                }
            }
        }

        hr {
            border-top: 0;
            margin: 0 24px;
            border-color: #30c0ef;
        }
    }

    .footer {
        grid-area: foo;

        min-height: 1000px; // TODO: Remove
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: -300px;
        z-index: -1;

        .footerStart {
            //position: absolute;
            //top: 0;
            z-index: -10;
            user-select: none;
            width: 100%;
            aspect-ratio: 3840 / 1144;
            transform: scale(-1);
        }

        .footerContent {
            background-color: #30c0ef;
            flex: 1;
            margin: -1px;
        }
    }
}