@import "@src/mixins.scss";

.title {
  display: block;

  font-size: 36pt;
  font-weight: 600;
  color: var(--current-neon);
}

.h1 {
  display: block;

  font-size: 30pt;
  font-weight: 600;
  color: var(--current-neon);
}

.entryRibbon {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 8px;

  > .tryIt {
    user-select: none;

    display: block;
    padding: 2px 8px;

    background-color: var(--current-neon);
    border: 1px solid transparent;

    > span {
      color: var(--current-neon-text);
      //mix-blend-mode: difference;
    }

    &:hover {
      @include neon-glow-full;

      //background-color: color-mix(in srgb, var(--current-neon) 50%, black);
      background-color: transparent;
      border: 1px solid var(--current-neon);

      > span {
        color: white;
      }
    }
  }

  > .button {
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 2px 8px;

    color: var(--current-neon);

    &:hover {
      @include neon-glow;
    }
  }
}

.techRibbon {
  user-select: none;

  width: 100%;
  padding: 6px 12px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  border-top: 1px solid var(--current-neon);

  > .entry {
    position: relative;

    font-size: 10pt;

    .default, .hover {
      padding: 0px 6px;
      white-space: nowrap;
    }

    .hover {
      pointer-events: none;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;

      visibility: hidden;

      background-color: var(--current-neon);
      color: var(--current-neon-text);
    }

    &:hover {
      .default {
        visibility: hidden;
      }

      .hover {
        animation: paths 5s step-end forwards;
        visibility: visible;
        
        font-size: 20pt;
        transform: translate(-25%, -25%);
      }
    }
  }
}

.body {
  strong {
    font-weight: 600;
  }

  p {
    color: white;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black;
  }

  a {
    color: var(--current-neon);
    text-decoration: underline;

    &:hover {
      @include neon-glow;
    }
  }

  li {
    color: white;
    
    &::marker {
      color: var(--current-neon);
    }
  }
}

@keyframes paths {
  0% {
clip-path: polygon(0% 40%,76% 40%,76% 20%,75% 20%,75% 24%,1% 24%,1% 77%,28% 77%,28% 72%,56% 72%,56% 82%,39% 82%,39% 78%,93% 78%,93% 82%,89% 82%,89% 90%,33% 90%,33% 31%,17% 31%,17% 49%,78% 49%,78% 89%,48% 89%,48% 24%,12% 24%,12% 26%,15% 26%,15% 13%,17% 13%,17% 2%,6% 2%,6% 38%,99% 38%,99% 68%,89% 68%,89% 53%,7% 53%,7% 41%,46% 41%,46% 29%,34% 29%);
}

  5% {
    clip-path: polygon(0% 32%,28% 32%,28% 27%,89% 27%,89% 28%);
  }
  30% {
    clip-path: polygon(0% 99%,68% 99%,68% 90%,73% 90%,73% 32%,85% 32%,85% 37%,22% 37%,22% 82%,1% 82%,1% 67%,81% 67%,81% 69%,96% 69%,96% 58%,91% 58%,91% 98%,39% 98%,39% 69%,54% 69%,54% 67%,68% 67%,68% 0%,80% 0%,80% 24%,58% 24%,58% 71%,56% 71%,56% 55%,6% 55%,6% 71%,73% 71%,73% 45%,48% 45%,48% 9%,33% 9%,33% 21%,11% 21%,11% 27%,7% 27%,7% 26%,25% 26%,25% 21%,79% 21%,79% 44%,57% 44%,57% 24%,81% 24%,81% 2%,10% 2%);
  }
  
  45% {
    clip-path: polygon(0% 42%,71% 42%,71% 50%,94% 50%,94% 97%,11% 97%,11% 11%,70% 11%,70% 42%,67% 42%,67% 41%,35% 41%,35% 79%,38% 79%,38% 46%,68% 46%,68% 30%,41% 30%,41% 29%,86% 29%,86% 12%,97% 12%,97% 3%,29% 3%,29% 46%,23% 46%,23% 51%,42% 51%,42% 70%,44% 70%,44% 85%,73% 85%,73% 30%,42% 30%,42% 75%,24% 75%);
  }

  76% {
    clip-path: polygon(0% 60%,95% 60%,95% 79%,0% 79%,0% 43%,93% 43%,93% 93%,14% 93%,14% 53%,41% 53%,41% 59%,82% 59%,82% 86%,69% 86%,69% 0%,6% 0%,6% 2%,10% 2%,10% 58%,61% 58%,61% 66%,31% 66%,31% 39%,85% 39%,85% 54%,20% 54%,20% 90%,62% 90%,62% 49%,73% 49%,73% 71%,35% 71%,35% 80%,13% 80%,13% 38%,66% 38%);
  }

  90% {
    clip-path: polygon(0% 56%,74% 56%,74% 73%,86% 73%,86% 29%,67% 29%,67% 86%,54% 86%,54% 16%,51% 16%,51% 35%,66% 35%,66% 55%,9% 55%,9% 19%,3% 19%,3% 32%,31% 32%,31% 37%,39% 37%,39% 98%,84% 98%,84% 43%,85% 43%,85% 51%,40% 51%,40% 95%,89% 95%,89% 15%,16% 15%,16% 36%);
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}
