@import "@src/mixins";

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 24px;

  > img {
    cursor: pointer;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    &:hover {
      //border: 1px solid var(--current-neon);
      box-shadow: 0 0 6px 3px var(--current-neon);
    }
  }
}

.carouselControl {
  border-radius: 0;
  background-color: transparent;
  color: var(--current-neon);
  border: 1px solid var(--current-neon);

  width: 32px;
  height: 32px;

  &:hover {
    color: var(--current-neon-text);
    border-color: transparent;
    background-color: var(--current-neon);

    box-shadow: 0 0 12px 1px var(--current-neon);
  }

  svg {
    width: 24px !important;
    height: 24px !important;
  }
}

.carouselIndicator {
  border-radius: 0;

  border: 1px solid var(--current-neon);
  background-color: transparent;

  &[data-active=true] {
    background-color: var(--current-neon);
  }
}

.modalContent {
  position: relative;
  overflow: hidden;

  animation: glitchHover 0.7s step-end;

  border: 1px solid var(--current-neon);
  box-shadow: 0 0 18px 3px var(--current-neon) !important;

  :global(.mantine-Modal-header) {
    position: absolute;
    background-color: transparent;

    top: 0;
    right: 0;
    padding: 0;

    width: 48px;
    height: 32px;
    min-height: unset;

    button {
      width: 100%;
      height: 100%;
      margin: 0;

      border-color: var(--current-neon);
      border-style: solid;
      border-left-width: 1px;
      border-bottom-width: 1px;

      svg {
        width: 24px !important;
        height: 24px !important;
        color: var(--current-neon);

        //filter: drop-shadow(0px 0px 3px var(--current-neon));
      }

      &:hover {
        background-color: var(--current-neon);
        box-shadow: 0 0 18px 3px var(--current-neon) !important;

        svg {
          color: var(--current-neon-text);
          filter: unset;
        }
      }
    }
  }
}

.modalContainer {
  width: 100%;
  height: 100%;
  overflow: auto;

  > img {
    display: block;

    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@keyframes glitchHover {
  8%, 10.99% {
    transform: translate(11px, 0) skew(0deg);
  }
  11%, 14.99% {
    transform: translate(11px, 0) skew(30deg);
  }
  14.99% {
    transform: skew(30deg);
    background-color: transparent;
    color: var(--current-neon);
  }
  15%, 18.99% {
    transform: skew(0deg);
    background-color: var(--current-neon);
    color: var(--color-background);
  }
  25% {
    background-color: transparent;
    color: var(--current-neon);
  }
  33% {
    transform: scaleY(1) skewX(0deg) translate(-6px, 0);
  }
  44% {
    transform: scaleY(1.2) skewX(-60deg) translate(-6px, 0);
  }
  46% {
    transform: scaleY(1) skewX(0deg);
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
    transform: translate(0 0);
  }
  68% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  83% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    background-color: transparent;
    color: var(--current-neon);
  }
  80% {
    transform: scaleX(1.1) scaleY(.2) skewX(80deg);
  }
  85% {
    background-color: transparent;
    color: var(--current-neon);
  }
  86% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    background-color: var(--current-neon);
    color: var(--color-background);
  }
  94% {
    background-color: transparent;
    color: var(--current-neon);
  }
}
