@import "@src/mixins";

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-bottom: 24px;

  > img {
    cursor: pointer;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    &:hover {
      //border: 1px solid var(--current-neon);
      box-shadow: 0 0 6px 3px var(--current-neon);
    }
  }
}

.modalContent {
  animation: glitchHover 0.7s step-end;

  //border: 5px solid var(--current-neon);
}

.modalContainer {
  width: 100%;
  max-height: calc(100% - 60px);
  overflow: auto;

  > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

@keyframes glitchHover {
  8%, 10.99% {
    transform: translate(11px, 0) skew(0deg);
  }
  11%, 14.99% {
    transform: translate(11px, 0) skew(30deg);
  }
  14.99% {
    transform: skew(30deg);
    background-color: transparent;
    color: var(--current-neon);
  }
  15%, 18.99% {
    transform: skew(0deg);
    background-color: var(--current-neon);
    color: var(--color-background);
  }
  25% {
    background-color: transparent;
    color: var(--current-neon);
  }
  33% {
    transform: scaleY(1) skewX(0deg) translate(-6px, 0);
  }
  44% {
    transform: scaleY(1.2) skewX(-60deg) translate(-6px, 0);
  }
  46% {
    transform: scaleY(1) skewX(0deg);
  }
  60% {
    opacity: 1;
  }
  62% {
    opacity: 0;
    transform: translate(0 0);
  }
  68% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  83% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    background-color: transparent;
    color: var(--current-neon);
  }
  80% {
    transform: scaleX(1.1) scaleY(.2) skewX(80deg);
  }
  85% {
    background-color: transparent;
    color: var(--current-neon);
  }
  86% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    background-color: var(--current-neon);
    color: var(--color-background);
  }
  94% {
    background-color: transparent;
    color: var(--current-neon);
  }
}
